@using City_Go.Models;
@using City_Go.HtmlHelpers;
@using System.Web.Mvc;
@using System.Web.WebPages.Razor;
@model City_Go.Models.HomeModel
@using Microsoft.AspNet.Identity

   @{
        ViewBag.Title = "Список мест";
        Layout = "~/Views/Admin/_AdminLayout.cshtml";
       string table_name = "Places";
    }
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Список мест
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Главная</a></li>
                <li><a href="#">Страницы</a></li>
                <li class="active">Список мест</li>
            </ol>
        </section>
        <div class="pad margin no-print">
            <div class="callout callout-info" style="margin-bottom: 0!important;">
                <h4><i class="fa fa-info"></i> Подсказка:</h4>
                Появилось новое место. Здесь ты можешь его добавить.
                <div class="row">
                    <a href="/Admin/EditPlace">
                        <button type="button" class="btn btn-success pull-right" style="margin-right: 5px;">
                            <i class="fa fa-plus indent_pad"></i>Добавить место
                        </button>
                    </a>
                </div>
            </div>

        </div>
        <!-- Main content -->
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-globe"></i> CityGO, Inc.
                        <small class="pull-right">Date: 2/10/2014</small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>

            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Место</th>
                                <th>Адрес</th>
                                <th>Описание</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                           @foreach (PlacesModel place in Model.Places)
                           {
                            <tr>
                                <td>@place.ID</td>
                                <td>@place.Name</td>
                                <td>@Html.Raw(place.Address)</td>
                                <td>@place.Description</td>
                                <td>
                                    <div class="row">
                                            <button type="button"  class="btn btn-danger pull-right delete_place" value="@place.ID" style="margin-right: 5px;">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                            <a href="/Admin/EditPlace?id=@place.ID">
                                                <button type="button" class="btn btn-warning pull-right" style="margin-right: 5px;">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </a>
</div>
                                </td>
                            </tr>
                           }
                            
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            @if(Model.PagingInfo.TotalPages > 1)
            {
            <div class="page_links">
                @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
            </div>
            }

        </section>
        <!-- /.content -->
        <div class="clearfix"></div>
    </div>


<script>
    $(".delete_place").click(function () {
        var place_id = $(this).val();
        alert(place_id);
        if(confirm("Вы уверены, что хотите удалить место?"))
        {
            $.get({
                type: "POST",
                url: "/Admin/DeletePlace?id=" +place_id,
                success: function (result) {
                    alert("Файл удален");
                },
            });
        }
    })
</script>